!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SessionsAndCookiesApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |name, value|
      %p{class: name}
        = "#{name}: #{value}"
    -if current_user
      = current_user.name
      = link_to 'Logout', destroy_session_path, method: :delete
    -else
      - unless (controller_name === 'sessions' && action_name === 'new')
        %p
          = link_to 'Login', login_path
    = yield
